/hw0/temperature/cmake-build-debug/

hw0/large-sum/a.out 
hw0/temperature/.idea/
hw0/temperature/a.out 
labs/lab01r/
labs/lab02r/.idea/
labs/lab02r/cmake-build-debug/
labs/lab03/bakup.cpp 
labs/lab03/cmake-build-debug/
